:root {
  --body-font: "Inter", sans-serif;
  --body-font-regular: 400;
  --body-font-bold: 700;
  --body-font-size: 15px;
  --header-font: var(--body-font);
  --header-font-regular: 400;
  --header-font-bold: 700;
  --body-font-color: hsla(0, 0%, 100%, 0.57);
  --header-font-color: hsl(0, 0%, 100%);
  --stats-font: "Lexend Deca", sans-serif;
  --stats-font-regular: 400;
  --stats-font-color: var(--header-font-color);
  --stats-header-color: hsla(0, 0%, 100%, 0.6);
  --background-color: hsl(233, 47%, 7%);
  --card-background-color: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --background-image: url(../images/image-header-desktop.jpg);
  --mobile-background-image: url(../images/image-header-mobile.jpg);
}

* {
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--background-color);
  font-family: var(--body-font);
  font-weight: var(--body-font-regular);
  font-size: var(--body-font-size);
  color: var(--body-font-color);
  line-height: 1.8rem;
  letter-spacing: 0.5px;
}

p {
  max-width: 44ch;
}

.card {
  max-width: 1080px;
  width: 82vw;
  border-radius: 8px;
  min-height: 446px;
  height: 50vh;
  margin: 25vh auto;
  background-color: var(--card-background-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.card h1 {
  font-family: var(--header-font);
  font-weight: var(--header-font-bold);
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 0.8em;
  line-height: 1.185em;
  color: var(--header-font-color);
}

.card h1 em {
  font-style: normal;
  color: var(--accent-color);
}

.card .stat-block {
  font-family: var(--stats-font);
  font-weight: var(--stats-font-regular);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.7px;
  position: absolute;
  bottom: 40px;
}

.card .stats {
  margin-right: 4rem;
}

.card .stats strong {
  color: var(--stats-font-color);
  display: block;
  font-family: var(--header-font);
  font-weight: var(--header-font-bold);
  text-transform: initial;
  font-size: 1.4rem;
}

.col-right {
  background-color: var(--accent-color);
  background-image: var(--background-image);
  background-size: auto 105%;
  background-blend-mode: multiply;
  background-position: top right;
  background-repeat: no-repeat;
  width: 50%;
}

.col-left {
  width: 50%;
  height: 100%;

  box-sizing: border-box;
  padding: 4rem 4rem 4rem 4.5rem;
  vertical-align: top;
}

@media (max-width: 1060px) {
}

@media (max-width: 375px) {
  .card {
    flex-direction: column-reverse;
    height: initial;
  }

  .card .stat-block {
    position: relative;
    flex-flow: column;
    width: 100%;
  }

  .col-right {
    background-image: var(--mobile-background-image);
    background-size: 100% auto;
    width: unset;
  }
}
